@charset "UTF-8";

@media ( max-width: 1024px ) {
	#infotable tr{padding: 5px; height:15pt}
	#infotable td {color:#000000; }
	#infotable tr:last-child td {text-align:center;}
	#write {float:right;}
	p {text-align:center}
	#info_menu input[type=button] {background-color:white; border:1.5px solid #008CBA; }
	#infotable {border-collapse:collapse; width:70%; margin:0 auto}
	#inhr{width:100%}
	#ohr{margin-top:20px}
	#ohr hr{background-color: #2e75b6;}
	#findline {width:100%}
	#findline select{float:left; padding:2px}
	#findline form{float:right}
	#findline a{color:#000000}
	#findline a:hover, a:focus {
		text-decoration: none;
		color: #2e75b6;
	}
 	.infowrap{
 		padding-top: 12%; width:100%; padding-bottom:5%;  margin: 0 auto;
 	}
 	
 	#findline{
 		width:100%
 	}
 	
 	#contentdown{
 		width:50%; margin:0 auto
 	}
 	
 	#infotable_wrap{
 		width:70%;margin:0 auto
 	}
 	/* 스마트폰 480px 노트북 1280px 데스크탑 1920px */
}
@media (min-width: 1024px) {
	
	#infotable {border-collapse:collapse; width:70%; margin:0 auto}
	#infotable tr{padding: 5px; height:15pt}
	#infotable td {color:#000000; }
	#infotable tr:last-child td {text-align:center;}
	#info_menu input[type=button] {background-color:white; border:1.5px solid #008CBA; }
	#write {float:right; padding-right:15%}
	p {text-align:center}
	#inhr{width:100%}
	#findline table {width:100%}
	#ohr{margin-top:20px}
	#ohr hr{background-color: #2e75b6;}
	#findline {width:100%}
	#findline select{float:left; padding:2px}
	#findline form{float:right}
	#findline a{color:#000000}
	#findline a:hover, a:focus {
		text-decoration: none;
		color: #2e75b6;
	}
	@font-face{
  		font-family : 'NanumGothic';
  		src : url(../fonts/NanumGothic.ttf) format('truetype');
	}
	
	.infowrap{
    	padding-top: 12%; width:1000px; padding-bottom:5%;  margin: 0 auto;
	}
	
}